name: Terraform Multi-Env Pipeline

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment (dev | qa | prod)"
        required: true
        type: choice
        options:
          - dev
          - qa
          - prod
      action:
        description: "Action (apply | destroy)"
        required: true
        type: choice
        options:
          - apply
          - destroy

jobs:
  terraform:
    runs-on: ubuntu-latest

    environment: ${{ github.event.inputs.environment }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config=envs/${{ github.event.inputs.environment }}/backend.tfvars \
            -reconfigure

      - name: Terraform Plan
        if: ${{ github.event.inputs.action == 'apply' }}
        run: |
          terraform plan \
            -var-file=envs/${{ github.event.inputs.environment }}/terraform.tfvars

      - name: Terraform Apply
        if: ${{ github.event.inputs.action == 'apply' }}
        run: |
          terraform apply -auto-approve \
            -var-file=envs/${{ github.event.inputs.environment }}/terraform.tfvars

      - name: Terraform Destroy
        if: ${{ github.event.inputs.action == 'destroy' }}
        run: |
          terraform destroy -auto-approve \
            -var-file=envs/${{ github.event.inputs.environment }}/terraform.tfvars
